<section class="slide fade kenBurns" name="team">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-10-12 toCenter">
                    <h1 class="small ae-1">THE TEAM</h1>
                    <div class="ae-2"><p>Meet the team behind NOVUS Summit 2016</p>
                    </div>
                </div>
                <div class="fix-12-12">
                    <ul class="grid later grid-45">
                        <%- include('delegate',
                        {name: 'Kunal Sood',
                        role:'Founder, X Fellows',
                        photo:'kunal_sood.jpg',
                        additionalClass: 'ae-3'});
                        %>

                        <%- include('delegate',
                        {name: 'Sony Mordechai',
                        role:'Chairman & CEO, Global Eye Investments',
                        photo:'sony_mordechai.jpg',
                        additionalClass: 'ae-3'});
                        %>

                        <%- include('delegate',
                        {name: 'Laura Muranaka',
                        role:'TEDxUN',
                        photo:'laura_muranaka.jpg',
                        additionalClass: 'ae-3'});
                        %>

                        <%- include('delegate',
                        {name: 'Ryan Long',
                        role:'City Gala',
                        photo:'ryan_long.jpg',
                        additionalClass: 'ae-3'});
                        %>
                    </ul>
                </div>

                <div class="fix-12-12">
                    <ul class="grid later grid-45">
                        <%- include('delegate',
                        {name: 'Shahar Nechmad',
                        role:'Serial Entreprenur',
                        photo:'shahar_nechmad.jpg',
                        additionalClass: 'ae-4'});
                        %>

                        <%- include('delegate',
                        {name: 'Eiso Vaandrager',
                        role:'Investment Manager, Fûns Skjinne Fryske Enerzjy',
                        photo:'eiso_vaandrager.jpg',
                        additionalClass: 'ae-3'});
                        %>

                        <%- include('delegate',
                        {name: 'Natasha Tsakos',
                        role:'Conceptual Director',
                        photo:'natasha_tsakos.jpg',
                        additionalClass: 'ae-4'});
                        %>

                        <%- include('delegate',
                        {name: 'Sharad Kharé',
                        role:'Tie, Global Content Director',
                        photo:'sharad_khare.png',
                        additionalClass: 'ae-4'});
                        %>
                    </ul>
                </div>

                <div class="fix-12-12">
                    <ul class="grid later grid-45">
                        <%- include('delegate',
                        {name: 'Lindsay Hays',
                        role:'President, Hays Grace PR',
                        photo:'lindsay_hays.jpg',
                        additionalClass: 'ae-5'});
                        %>

                        <%- include('delegate',
                        {name: 'Alex Bennett Grant',
                        role:'Founder, WE ARE Pi',
                        photo:'alex_bennett_grant.jpg',
                        additionalClass: 'ae-5'});
                        %>

                        <%- include('delegate',
                        {name: 'Hanieh Sadat',
                        role:'Financial Advisor, Morgan Stanley',
                        photo:'hanieh_sadat.jpg',
                        additionalClass: 'ae-5'});
                        %>

                        <%- include('delegate',
                        {name: 'Sarika Batra',
                        role:'CEO Lavish Life & Host and Producer of Andaaz TV',
                        photo:'sarika_batra.jpg',
                        additionalClass: 'ae-5'});
                        %>
                    </ul>
                </div>

                <div class="fix-12-12">
                    <ul class="grid later grid-45">
                        <%- include('delegate',
                        {name: 'Rachaud Reed',
                        role:'Financial Advisor, Morgan Stanley',
                        photo:'rachaud_reed.jpg',
                        additionalClass: 'ae-6'});
                        %>

                        <%- include('delegate',
                        {name: 'Marius Calin',
                        role:'GA Architect / MKR-Lab',
                        photo:'marius.jpg',
                        additionalClass: 'ae-6'});
                        %>
                        %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(/images/speakersbg.jpg)"></div>
</section>