<section class="slide fade kenBurns" name="featured">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-10-12 toCenter">
                    <h1 class="small ae-1">THE TEAM</h1>
                    <div class="ae-2"><p>Meet the team behind NOVUS Summit 2016</p>
                    </div>
                </div>
                <div class="fix-12-12">
                    <ul class="grid later grid-45">
                        <%- include('delegate',
                        {name: 'Kunal Sood',
                        role:'Founder, X Fellows',
                        photo:'kunal_sood.jpg',
                        additionalClass: 'ae-2'});
                        %>

                        <%- include('delegate',
                        {name: 'Sergio Alonso Fernández de Córdova',
                        role:'SDG-FUND at United Nations, UNDP, Sustainable Development Fund',
                        photo:'sergio.png',
                        additionalClass: 'ae-2'});
                        %>

                        <%- include('delegate',
                        {name: 'Wendy Diamond',
                        role:'Author & Entreprenur',
                        photo:'wendy_diamond.jpg',
                        additionalClass: 'ae-3'});
                        %>

                        <%- include('delegate',
                        {name: 'Oilver Libby',
                        role:'Co-Founder & Managing Director Hatzimemos / Libby',
                        photo:'oilver_libby.jpg',
                        additionalClass: 'ae-3'});
                        %>
                    </ul>
                </div>

                <div class="fix-12-12">
                    <ul class="grid later grid-45">
                        <%- include('delegate',
                        {name: 'Steve Faktory',
                        role:' IdeaFaktory, Founder',
                        photo:'marius.jpg',
                        additionalClass: 'ae-6'});
                        %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(/images/speakersbg.jpg)"></div>
</section>