<section class="slide fade kenBurns" name="speakers">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-10-12 toCenter">
                    <h1 class="small ae-1">SPEAKERS</h1>
                    <div class="ae-2"><p>Meet our lineup of thought leaders, innovators and world changing activists</p>
                    </div>
                </div>
                <div class="fix-12-12">
                    <ul class="grid later grid-45">
                        <%- include('speaker',
                        {name: 'Peter Diamandis',
                        role:'Co founder, Human Longevity/Singularity University/Planetary Resources',
                        photo:'peter_diamandis.jpg',
                        additionalClass: 'ae-3'});
                        %>

                        <%- include('speaker',
                        {name: 'Maye Musk',
                        role:'Nutritionist, Wellbeing Expert & Model',
                        photo:'maye_musk.jpg',
                        additionalClass: 'ae-3'});
                        %>

                        <%- include('speaker',
                        {name: 'Martin Seligman',
                        role:'Founder of Positive Psychology',
                        photo:'martin_seligman.jpg',
                        additionalClass: 'ae-3'});
                        %>

                        <%- include('speaker',
                        {name: 'Anousheh Ansari',
                        role:'First Female Private Space Explorer',
                        photo:'anousheh_ansari.jpg',
                        additionalClass: 'ae-3'});
                        %>
                    </ul>
                </div>
                <div class="fix-12-12">
                    <ul class="grid later grid-45">
                        <%- include('speaker',
                        {name: 'Marcus Shingles',
                        role:'CEO X Prize',
                        photo:'marcus_shingles.jpg',
                        additionalClass: 'ae-4'});
                        %>

                        <%- include('speaker',
                        {name: 'Daniel T. Barry',
                        role:'Ex Co-Chair AI & Robotics at Singularity University',
                        photo:'daniel_barry.jpg',
                        additionalClass: 'ae-4'});
                        %>

                        <%- include('speaker',
                        {name: 'Scott E. Parazynski',
                        role:'Former NASA Astronaut',
                        photo:'scott_parazynski.jpg',
                        additionalClass: 'ae-4'});
                        %>

                        <%- include('speaker',
                        {name: 'Lakshmi Puri',
                        role:'ASG UN Women',
                        photo:'lakshmi_puri.jpg',
                        additionalClass: 'ae-4'});
                        %>
                    </ul>
                </div>
                <div class="fix-12-12">
                    <ul class="grid later grid-45">
                        <%- include('speaker',
                        {name: 'Howard Tullman',
                        role:'1871, CEO',
                        photo:'howard_tullman.jpg',
                        additionalClass: 'ae-5'});
                        %>


                        <%- include('speaker',
                        {name: 'Roya Mahboob',
                        role:'CEO, Digital Citizen Fund',
                        photo:'roya_mahboob.jpg',
                        additionalClass: 'ae-5'});
                        %>

                        <%- include('speaker',
                        {name: 'Robert Swan',
                        role:'Explorer/Founder, 2041',
                        photo:'robert_swan.jpg',
                        additionalClass: 'ae-5'});
                        %>

                        <%- include('speaker',
                        {name: 'Vikram Gandhi',
                        role:"Filmaker/Journalist/Award winning director",
                        photo:'vikram_gandhi.jpg',
                        additionalClass: 'ae-5'});
                        %>
                    </ul>
                </div>
                <div class="fix-12-12">
                    <ul class="grid later grid-45">
                        <%- include('speaker',
                        {name: 'Natasha Tsakos',
                        role:'Conceptual Director',
                        photo:'natasha_tsakos.jpg',
                        additionalClass: 'ae-6'});
                        %>

                        <%- include('speaker',
                        {name: 'Naveen Jain',
                        role:'Founder & CEO of Inome',
                        photo:'naveen_jain.jpg',
                        additionalClass: 'ae-6'});
                        %>

                        <%- include('speaker',
                        {name: 'Leslee Udwin',
                        role:"Director Producer of India's Daughter",
                        photo:'leslee_udwin.jpg',
                        additionalClass: 'ae-6'});
                        %>

                        <%- include('speaker',
                        {name: 'Amir Dossal',
                        role:'Chairman Global Partnership Forum',
                        photo:'amir_dossal.jpg',
                        additionalClass: 'ae-6'});
                        %>
                    </ul>
                </div>
                <div class="fix-12-12">
                    <ul class="grid later grid-45">
                        <%- include('speaker',
                        {name: 'Ricky Kej',
                        role:'Grammy Award winner',
                        photo:'ricky_kej.jpg',
                        additionalClass: 'ae-7'});
                        %>

                        <%- include('speaker',
                        {name: 'ELEW',
                        role:'Rockjazz Pianist',
                        photo:'elew.jpg',
                        additionalClass: 'ae-7'});
                        %>

                        <%- include('speaker',
                        {name: 'Parisa Khosravi',
                        role:'Multi Award-Winning Journalist',
                        photo:'parisa_khosravi.jpg',
                        additionalClass: 'ae-7'});
                        %>

                        <%- include('speaker',
                        {name: 'Johannes C. Eichstaedt',
                        role:'Founding scientist of world Wellbeing project',
                        photo:'Johannes_eichstaedt.jpg',
                        additionalClass: 'ae-7'});
                        %>
                    </ul>
                </div>

                <div class="fix-12-12">
                    <ul class="grid later grid-45">
                        <%- include('speaker',
                        {name: 'Beau Lotto',
                        role:'Neuroscientist & Artist',
                        photo:'beau_lotto.jpg',
                        additionalClass: 'ae-8'});
                        %>

                        <%- include('speaker',
                        {name: 'Dr. Vijay Vad',
                        role:'Cornell Hospital for Special Surgery',
                        photo:'vijay_vad.jpg',
                        additionalClass: 'ae-8'});
                        %>

                        <%- include('speaker',
                        {name: 'Marshall Jones',
                        role:'Custom Spoken Word Poetry Expert',
                        photo:'marshall_jones.jpg',
                        additionalClass: 'ae-8'});
                        %>

                        <%- include('speaker',
                        {name: 'Kim Cameron',
                        role:'Professor of Management, William Russell Kelly',
                        photo:'kim_cameron.jpg',
                        additionalClass: 'ae-8'});
                        %>

                    </ul>
                </div>

                <div class="fix-12-12">
                    <ul class="grid later grid-45">
                        <%- include('speaker',
                        {name: 'Isabel Behncke Izquierdo',
                        role:'Primatologist',
                        photo:'isabel_izquierdo.jpg',
                        additionalClass: 'ae-9'});
                        %>

                        <%- include('speaker',
                        {name: 'Maysoon Zayid',
                        role:'Comedian/Humanitarian',
                        photo:'maysoon_zayid.jpg',
                        additionalClass: 'ae-9'});
                        %>

                        <%- include('speaker',
                        {name: 'Jack Thomas Andraka',
                        role:'Intel Prize Stanford Student',
                        photo:'jack_thomas.jpg',
                        additionalClass: 'ae-9'});
                        %>

                        <%- include('speaker',
                        {name: 'James Pawelski',
                        role:' Director of Education, Positive Psychology Center',
                        photo:'james_pawelski.jpg',
                        additionalClass: 'ae-9'});
                        %>

                    </ul>
                </div>

                <div class="fix-12-12">
                    <ul class="grid later grid-45">
                        <%- include('speaker',
                        {name: 'Leona Brandwene',
                        role:'Associate Director, MAPP Program, University of Pennsylvania',
                        photo:'leona_brandwene.jpg',
                        additionalClass: 'ae-10'});
                        %>

                        <%- include('speaker',
                        {name: 'Mona Hamdy',
                        role:'Co-Founder & Managing Director, THNK school of creative leadership',
                        photo:'mona_hamdy.png',
                        additionalClass: 'ae-10'});
                        %>

                        <%- include('speaker',
                        {name: 'Thomas Ermacora',
                        role:'Urbanist, Technologist & Futurist',
                        photo:'thomas_ermacora.jpg',
                        additionalClass: 'ae-10'});
                        %>

                    </ul>
                </div>

                <div class="fix-10-12 toCenter">
                    <h2 class="more small ae-8">More speakers to be announced soon</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(/images/speakersbg.jpg)"></div>
</section>