<li class="col-3-12">
    <img class="speakerImage <%= additionalClass %> fromCenter" src="/images/<%= photo %>" alt="<%= name %>"/>
    <div class="fix-3-12 <%= additionalClass %>">
        <p class="small center"><span class="speakerName"><%= name %></span></p>
        <p class="small center"><span class="speakerRole"><%= role %></span></p>
    </div>
</li>