<section class="slide fade kenBurns" name="speakers">
    <div class="content">
        <div class="container">
            <div class="wrap">

                <div class="fix-10-12 toCenter">
                    <h1 class="small ae-1">Speakers</h1>
                    <div class="ae-2"><p>We have 17 innovators that will share their thought, passion and solutions to the 17 sustainable development goals. Each innovator is nominated for the Novus Award</p></div>
                </div>
                <div class="fix-12-12">
                    <ul class="grid later grid-45">
                        <%- include('speaker',
                        {name: 'Johannes Eichstaedt',
                        role:'Founding scientist of world Wellbeing project',
                        photo:'johannes_eichstaedt.png'});
                        %>

                        <%- include('speaker',
                        {name: 'Jack Thomas Andraka',
                        role:'Intel Prize Stanford Student',
                        photo:'jack_andraka.png'});
                        %>

                        <%- include('speaker',
                        {name: 'Leslee Udwin',
                        role:"Director Producer of India's Daughter",
                        photo:'leslee_udwin.png'});
                        %>

                        <%- include('speaker',
                        {name: 'Lakshmi Puri',
                        role:'ASG UN Women',
                        photo:'lakshmi_puri.png'});
                        %>
</ul>
                    </div>
                <div class="fix-12-12">
                    <ul class="grid later grid-45">
                        <%- include('speaker',
                        {name: 'Marcus Shingles',
                        role:'CEO X Prize',
                        photo:'marcus_shingles.png'});
                        %>

                        <%- include('speaker',
                        {name: 'Maysoon Zayid',
                        role:'Comedian/Humanitarian',
                        photo:'maysoon_zayid.png'});
                        %>

                        <%- include('speaker',
                        {name: 'Amir Dossal',
                        role:'Chairman Global Partnership Forum',
                        photo:'amir_dossal.jpg'});
                        %>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="background" style="background-image:url(/images/flags.jpg)"></div>
</section>